#home{
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    height: 240em;
}
#res{
    background-image: url(../img/bg_login.jpeg);
    background-size: cover;
}
#login_client{
    background-image: url(../img/bg_login.jpeg);
    
}
#login_avocat{
    background-image: url(../img/bg_login.jpeg);
    display: none;
}