#home{
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    height: 240em;
}
#res{
    background-image: url(../img/bg_login.jpeg);
    background-size: cover;
}
#login_client{
    background-image: url(../img/bg_login.jpeg);
    display:none;
    padding-left: 32em;
}
#login_avocat{
    background-image: url(../img/bg_login.jpeg);
    display: none;
    padding-left: 32em;
}
#choix{
    background-color: rgb(0, 255, 255);
    width: 100%;
    height: 43.45em;
    padding-top: 21em;
    padding-left: 30em;
}
pre{
    color: black;
}
.succes{
    font-size:4em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: green;
}
.echoe{
    font-size:4em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: red;
}
#login_bg{
    background-image: url(../img/bg_login.jpeg);
    background-size: cover;
}