body{
    background-image: url(../img/bg.jpg);
}
#login_client{
 background-image: url(../img/bg_login.jpeg);
 background-size: cover;
}
#login_avocat{
    background-image: url(../img/bg_login.jpeg);
    background-size: cover;
   }